.card {
    border-radius: 20px;
    background-color: rgba(17, 28, 68, 1);
    display: flex;
    flex-direction: column; /* Allow items to stack vertically */
    min-width: auto;
    gap: 18px;
    overflow: hidden;
    flex-grow: 1;
    width: auto;
    height: auto;
    padding: 21px 50px 21px 17px;
    position: relative; /* Enable absolute positioning within the container */
}

.scanned_icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: auto;
    position: absolute;
    bottom: 10%; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center the icon */
}

.content {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center text horizontally */
}

.label {
    color: rgba(163, 174, 208, 1);
    font-size: 16px;
    line-height: 2;
    letter-spacing: -0.32px;
}

.value {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 2;
    letter-spacing: -0.36px;
    align-self: center;
    margin-top: 11px;
    font-weight: 700;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (max-width: 991px) {
    .card {
        padding-right: 20px;
        flex-direction: row; /* Stack items horizontally */
        align-items: center; /* Center items vertically */
    }

    .scanned_icon {
        position: static; /* Default positioning within flex container */
        transform: none; /* Remove centering transform */
        margin-right: 10px; /* Space between icon and text */
    }

    .content {
        align-items: flex-start; /* Align text to the left */
    }

    .value {
        align-self: flex-start;
    }
}
