.courseContainer {
    background-color: #fff;
    border-radius: 20px;
    padding: 27px 26px;
}

.courseHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.courseIcon {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.courseTag {
    color: #a3aed0;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}

.courseTitle {
    color: #2b3674;
    font-size: 16px;
    font-weight: 700;
}

.courseHeadline {
    color: #2b3674;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 20px;
}

.courseDetails {
    background-color: #fafcfe;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

.courseInfo {
    display: flex;
    align-items: center;
    color: #2b3674;
    font-size: 14px;
    font-weight: 700;
}

.courseInfo img {
    margin-right: 6px;
}

.courseActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coursePreview {
    width: 110px;
}

.startButton {
    background-color: #4318ff;
    color: #fff;
    border: none;
    border-radius: 16px;
    padding: 8px 26px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 991px) {
    .courseContainer {
        padding: 20px;
    }
}