
.test-page {
    display: flex; /* Flexbox layout */
    padding-top: 10px; /* Padding for the top */
}

.SideBar {
    width: 250px;
    background-color: #111c44;
    color: #fff;
    height: 100vh;
}
.content-container {
    display: flex; /* Flexbox layout for the main content area */
    flex: 3; /* Content area takes up more space */
    flex-direction: column; /* Stack items vertically in this area */
    padding-left: 10px; /* Space between sidebar and content */
}

.upload-container {
    display: flex; /* Keep Upload Widget flexible */
    align-items: flex-start; /* Align Upload Widget to the top */
}

.complex-table-container {
    margin-top: auto; /* Space between Upload Widget and Complex Table */
}

