.test-page {
    display: flex;
}

.test-content-container {
    display: flex;
    flex-direction: column;
    margin-left: 0; /* Align content directly next to sidebar */
    padding-right: 300px;
    padding-top: 10px;
}


.widget-container {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.upload-container,
.task-counter-container {
    display: flex;
    align-items: flex-start;
}

.complex-table-container {
    padding-top: 0;
}

@media (max-width: 991px) {
    .test-content-container {
        padding-left: 0px;
    }

    .widget-container {
        flex-direction: column;
    }
}
