.SideBar {
    position: fixed;
    left: 0;
    top: 0; /* Align it with the top */
    height: 100vh; /* Full height */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #fff;
    letter-spacing: -0.32px;
    line-height: 30px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'DM Sans', -apple-system, Roboto, Helvetica, sans-serif;
    width: 290px; /* Initial width */
    transition: width 0.3s;
    background-color: #111c44; /* Unified background color */
}

.sideBarContent {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0; /* Ensure no padding */
    flex-grow: 1;
}

.logo {
    width: 100%;
    max-height: 60px;
    object-fit: contain;
    object-position: center;
    margin: 0; /* Ensure no margin */
    padding: 20px 0; /* Padding to maintain spacing */
}

.menuItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 31px;
    padding-top: 110px; /* Additional padding to ensure it's below the header */
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.SideBarItem {
    display: flex;
    width: 100%;
    gap: 12px;
    padding: 10px 0; /* Ensure padding for better spacing */
    white-space: nowrap;
    align-items: center;
    border: none;
    box-shadow: none;
}

.icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    margin: auto 0;
}

.activeIndicator {
    border-radius: 25px;
    background-color: #0000ff;
    width: 4px;
    height: 36px;
    margin-left: auto;
}

.active {
    font-weight: 700;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .SideBar {
        width: 200px;
    }
    .menuItems {
        padding-left: 15px;
    }
    .SideBarItem {
        margin-top: 15px;
    }
}

@media (max-width: 500px) {
    .SideBar {
        width: 100px;
    }
    .logo {
        display: block;
        margin: 0 auto;
    }
}
