.header {
    background-color: blue;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
}

.header-logo {
    max-height: 50px;
    height: auto;
    width: auto;
    margin-right: 10px;
}

.header-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.search-bar-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    flex-grow: 0;
}

.searchContainer {
    border-radius: 30px;
    background-color: rgba(17, 28, 68, 1);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    max-width: 422px;
    width: 100%;
    color: white;
    height: auto;
}

@media (max-width: 600px) {
    .header-content h1 {
        display: none;
    }

    .header {
        flex-direction: column;
        height: auto;
    }

    .header-content {
        justify-content: center;
    }

    .search-bar-container {
        justify-content: center;
        padding-right: 0;
        margin-top: 10px;
        width: 100%;
    }
}

