.header {
    background-color: blue;
    padding: 10px 20px; /* Add some padding for spacing */
    color: white;
    display: flex;
    justify-content: space-between; /* Space between logo/text and search bar */
    align-items: center;
    width: 100%;
    position: fixed; /* Fix the header at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays above other elements */
    height: 60px; /* Adjust header height */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow for visual separation */
}

.header img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 15px; /* Space between the logo and text */
}

.header-content {
    display: flex;
    align-items: center; /* Center the text and logo vertically */
    flex-grow: 1; /* Allow it to grow and shrink */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Prevent overflowing text */
    max-width: 60%; /* Limit width to prevent stretching */
}

.header h1 {
    margin: 0;
    font-size: clamp(1rem, 2vw, 1.5rem); /* Responsive font size */
    font-weight: normal; /* Set font weight to normal to make it not bold */
    font-family: 'DM Sans', -apple-system, Roboto, Helvetica, sans-serif;
}

.search-bar-container {
    flex-grow: 0; /* Prevent the search bar from growing */
    display: flex;
    justify-content: flex-end; /* Align the search bar to the right */
    padding-right: 20px; /* Right padding for spacing */
}

.searchContainer {
    border-radius: 30px;
    background-color: rgba(17, 28, 68, 1);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    max-width: 422px;
    width: 100%;
    color: white;
    height: auto;
}
